$width : 285px;

$font-family: 'Montserrat', sans-serif !important;
$background-image:radial-gradient(324.85% 141.93% at 106.4% 100%, #03FFD2 0%, #021BFF 100%);
$color:  rgb(65, 166, 238);
$background : linear-gradient(95.26deg, #04F5D5 7.67%, #037CED 119.78%);



//sIDEABR


body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  font-size: 0.9rem;
  font-weight: 400 ;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc;
}


.Nav {

    z-index: 5;
    background-image: $background-image ;
    width: 17.8%;
    min-width: 220px;
    height: 100%;
    position: fixed;
  
    transition: all .5s ease ;
    margin-left: -100% ;
  }
  
  .links {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 510 ;
    letter-spacing: 0.05em;
    
    margin-left: 15px;
    @media (max-width: 695.98px) { margin-left: 0; }
    &:hover{
  
      text-decoration: none;
      color: black;
    }
  }
  
  ._head {
  
    width: 100%;
  
    padding-top: 10px;
      position: relative;
        text-align: center;
    & .svg{
  
      width: 170px ;
  
    }
  }
  
  
  
  .btn1 {

    font-size: 20px;
    height: 25px;
    margin-top: 20px;
    font-weight: 500;

    
  
    & i{
      color: black;
      
    }
  
    &:hover{
  
      background: rgb(250, 255, 255);
  
      border-radius: 0px 50px 50px 0px;
    }
  
  }
  
  .insideDiv {
  
  
    height: 100%;
  
  }
  
  .insideDiv > div {
    padding: 25px  ;
  
    display: flex;
    align-items: center ;
    @media (max-width: 1370.98px) { padding: 25px 15px; }
  
  
  }
  
  
  #check {
    display: none ;
  }
  
  
  
  
  #dull-bakground{
  
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  
    z-index: 4;
    position: fixed;
  
    transition: all .7s ease ;
    
    display: none;
    opacity:0;
  }
  
     #check:checked  ~ #dull-bakground{
     
      display: block;
      opacity: 1;
  
      }
  
  #check:checked ~ .Nav{
  
      margin-left: 0;
  }
  
  .ClosedsideBar{
    height: 100%;
    background-image: $background-image ;
    
    position: fixed;
    width: 10%;
    z-index:4;
    text-align: center ;
  
    & div{
      height: 44px;
      margin-bottom: 35px;
  
     
    }
  
    & .btn1  i{
      
      font-size: 30px;
      
      padding-top: 5px;
      color: rgb(0, 0, 0) !important;
   
    }
  
  }
  
  #align-box{
    
    padding-top: 30px;
    font-size: 35px;
    
    color: black;
  
  
  }
  
  
  #cross{
  
    margin-left: 100%;
  
    color: $color ;
    font-size: 25px;
  
  
    & .cross{
      color: $color ;
      padding: 3px;
    }
  }
  
  
  #check2{
    display: none;
    position: absolute ;
  }
  
  #check2:checked ~ .Nav{
  
    margin-left: -100%;
  }



// card



.card2{

    width: $width ;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.5);
    height: 370px;
  
    transition: transform .2s;
  
    &:hover {
  
      transform: scale(1.1);
    }
  
      @media (max-width: 1000.98px) {
  
        margin-bottom:  50px   ;
        }
  
  }



.cardtitle{
    font-weight: bolder;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
}

.cardtitle2{
    font-size: 15px;
    color: #000000;
}

.overlay {
    position: relative;
    height: 200px ;
    width: $width  ;
  
   background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ) , url("https://c0.wallpaperflare.com/preview/27/313/180/man-singing-on-stage.jpg");
   background-repeat: no-repeat ;
  background-size: cover;
   transition: all 0.5s ease;
    display: flex;
    color: white ;
    font-size: 13px;
  
    font-weight: normal;
    line-height: 28px;
  
  
    & .one{
      position: absolute;
      left: 0;
      top: 34%;
      width: 100%;
      text-align: center;
  
   }
   & .two{
    position: absolute;
    top: 8px;
    right: 16px;
  
  
  }
  & .three{
    position: absolute;
   bottom: 8px;
    left: 16px;
  
    & span {
  
  letter-spacing: 0.03em;
  padding-left: 3px;
  
    }
  }
  & .four{
    position: absolute;
   bottom: 8px;
   right: 16px;
  }
  }





.playicon {
    font-size: 50px;
}
.icon2 {
    font-size: 15px;
}


.footer {

    width: 100%;

    display: flex;


    & span{
        padding-left: 10px;
    }
}


.card{
    border :none !important ;
    margin-bottom: 15px;
}


.ClosedsideBar{
    height: 100%;
    background-image: $background-image ;
    
    position: fixed;
    width: 10%;
    z-index:4;
    text-align: center ;
  
    & div{
      height: 44px;
      margin-bottom: 35px;
  
     
    }
  
    & a{
      
      font-size: 30px;
      font-weight: 500;
      color: black;
   
    }
  
  }



//HEader



.bell{
    color: $color;
    width: 20px;
    font-size: 20px;
    // background: $background;
  }
  
  
  
  // .headbar{
  //   min-height: 88px;
  //  border-radius: 10% ;
   
  //   z-index: 1;
  
  
  
  //  &  .navbar {
  //   z-index: 2 !important;
  //   border-radius: 0px 0px 33px 33px;
  //   background: #FFFFFF;
  //   width: 1235px;
  
  // }
  // }
  
  .headbar-blade{
  
     z-index: 1;
  
     & .navLinks{
       padding: 0px 20px ;
  
       & .items{
         margin-left: 11px;
      
       }
     }
    
    & .header-child3{
      width: 200px;
      margin:  15px 10px ;
     
    
    }
  
    &  .navbar {
     z-index: 2 !important;
     border-radius: 0px 0px 33px 33px;
     background: #FFFFFF;
     min-height: 78px;
    //  min-height: 100px;
     
     width: 154%;
    
    
  
   }
  }
  
  .links2 {
    
    padding: auto;
    color: #181717 !important;
    font-size: 19px !important;
    letter-spacing: 0.05em !important;
    font-weight: 503 !important;
      
       
      &:hover {
        color: $color !important;
  
       
      
      }
  
    &:hover .borderBottom{
  
    
  
        width:  16px;
    
        background-color: $color;
        display: block;
        height: 3px;
      
    
    }
  
   
  
    
  }
  
  .dropdowncontainer  .dropdown{
  
      height: 50px;
      width: 50px;
  
      &:focus{
        border: none;
        outline: none;
      }
  }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
  
    box-shadow: none !important;
  }
  
  
     .image{
  
      background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSE5Ok_U-N-T1LQO0cugRpONWwzsBpdYytPJkVFkQ9sa9HvEjda&usqp=CAU');
      background-repeat: no-repeat;
      background-size: cover;
  
      border-radius: 100% ;
      width: 50px;
      height: 50px;
      z-index: 16;
      position: absolute;
      top: 0;
      right: 10px;
    }
    .image2{
  
  
  
        background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSE5Ok_U-N-T1LQO0cugRpONWwzsBpdYytPJkVFkQ9sa9HvEjda&usqp=CAU');
        background-repeat: no-repeat;
        background-size: cover;
  
        border-radius: 100% ;
        width: 50px;
        height: 50px;
        z-index: 16;
        position: absolute;
        top: -12px;
        right:  -6px;
  
    }
  
  
    .dowpdown-box{
      background: rgb(255, 255, 255);
      padding:0;
      z-index: 1;
  
      & a{
        margin: 27px 0px;
  
      }
  
  
    }
  
    .dropdowncontainer  {
        margin-left: 10%;
  
        @media (max-width: 695.98px) {  }
  
       & .dropdown-menu {
      padding: 0rem 0rem !important;
        min-width: 65px !important ;
      width: 65px;
      height: 230px;;
  
        position: absolute;
        top: 66% !important;
        left: -15px !important;
        z-index: 4 !important;
  
        min-width: 10rem;
  
  
        border-radius: 8.25rem !important;
      }
  
        & .dropdown-item {
          display: block;
          width: 100%;
          text-align: center;
          z-index: 2;
          padding:0px !important ;
  
          &:active {
            color: $color;
            text-decoration: none;
            background-color: white;
        }
        }
  
        & .icons{
          font-size: 20px;
          color: black;
          width: 30p;
          display: block !important;
          &:hover{
            color: $color;
  
          }
          
        }
  
  
  }

//head

.head{

    height: 100px;
    position: relative;
    top: 30px;
}



#dropdown-basic-button{

    border-radius: 20px 20px 20px 20px;
    width:100px;
    background: $background;


}

.dropdownbtn > div{

    border-radius: 20px 20px  ;
    box-shadow: 0px -10px 80px rgba(0, 0, 0, 0.25);
}

.dropItems{
  height: 290px;
  width: 294px;


    padding:0 !important  ;
    position: relative;
    top: 50px;
    color: black;
    & .cross{
        position: fixed;
        right:  10%;
        top: 5%;
        // width: 40px;
        border: none;


    }
}



.dropItems >  .dropdown-item {
  display: block;
  line-height: 30px;
/* identical to box height */


  letter-spacing: 0.06em;
  padding: 0.35rem 0rem !important;

  font-weight: 630;

  text-align: inherit;

  width: 80% !important;
  border-radius: 0px 20px 20px 0px !important;
  &  .items {
    position: relative;
    left: 20px;
    top: 10px;
    color: black;
    font-size: 15px;
line-height: 24px;
height: 40px;

  }


  &:hover{

    background: rgb(240, 241, 243) !important;
    color: black;

  }
}





//Style.scss



* {
    margin: 0;
}
.App {
  $font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
}


.parentcontainer{
    background: #E5E5E5;
}

.container{
    padding: 0px 30px;
}
.sidebar{
    // @media (max-width: 695.98px) { display: none; }
}

.Cards-container{
    min-height: 400px;
    padding: 25px 12px;


}



.row-right p {
    text-align: justify;
    width: 100%;
}



#content{
    padding: 0 40px ;
    margin-top: 2.5%;
    //margin-left: 15%;
}

//Drag drop

// $theme-colors: (
//   "primary": $color,
//   "danger": #ff4136
// );

.display-shadow-box{
    margin-top: 20px;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.5) !important;
}
.custom-vh-form-input{
    display: block;
    width: 100% !important;
    padding: 0.375rem 0.95rem !important;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;

    border-radius: 60px !important;
}

.drag-drop-container{

    // border: 2px solid red !important;
    // background-image: $background-image;
    padding: 30px 0px;
    margin: 20px 0px;
    // box-shadow: 0px -20px 30px rgba(0, 0, 0, 0.5);
    height:  75vh;
    // color: black;

    & .drag-drop-box{
        background: white;
        // border: 1px solid black;
        color: black;
        margin-bottom:30px ;
        box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.5);
    }

    & .progress{
        background: none;
        border-radius: 60px ;
    }
    & .progress-bar-animated {
        border-radius: 60px ;
        background: $background ;
    }
    &   p {
        color: $color;
        font-weight: 500;
    }

    & .pt_upload_vdo > div h4 {
        color: $color;
        font-size: 30px;
        font-weight: 500;
    }

    & .pt_upload_vdo svg.feather-upload{
        color: $color;
    }

    & .form{
        margin: 20px 0px;
        padding-top: 10px;

        & .form-control {
            display: block;
            width: 100%;

            padding: 0.375rem 0.95rem;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.6;
            color: #495057;

            border-radius: 60px;
            // height: 51px;
        }

        & .react-tagsinput-tag {
            background-color: $color;

            border: 1px solid $color;
            color: white;
            border-radius: 60px;
            // height: 51px;
        }
        & .react-tagsinput {


            border-radius: 21px;
        }
        & label {
            display: inline-block;
            margin-bottom: 0.5rem;
            font-size: 20px;
            font-weight: 700;
        }
    }
}

#form-btn{
    background: $background;
    font-size: 25px;
    font-weight: 500;
    color: white;
    border-radius: 20px 20px ;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.5);

}

.Card3_container{
    margin: 30px 25px;
  
  }
  
  .card3{
    
    
    width: 210px !important;
    height: 250px !important;
    margin-left:10px ;
  
  }
  .barChart{
    height: 300px;
    width: 100%;
  }
  
  .Analytics_Card_Container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  
  }


// Home page at blade template

.home-nav{
  height: 170px;
  & .links-home{
  
    padding: 0px 40px;
    font-size: 17px;
    font-weight: 500;
  
  }

  &  .logo{
          height: 140px;
          width: 350px;
          margin: 50px;
  }

 
  
}

.header-wrapper{
  width: 1349px;
  height: 440px;
  z-index: 10;
  
}

.dullbg{
  background-image : linear-gradient(to right , rgba(255 , 255 , 255 , 0.5) , rgba(255 , 255 , 255 , 0.5) ) !important ;
}



.header-wrapper {
  background: transparent;
}

#wp-custom-header.cp-video-bg {
  background: url('https://www.videohomes.com/wp-content/themes/one-page-express/assets/images/Mock-up.jpg') rgba(0, 0, 0, 0.25);
  background-color: #000000;
  background-position: center top;
  background-size: cover;
  position: absolute;
  z-index: -2;
  height: 100%;
  width: 100%;
  margin-top: 0;
  top: 0px;
  -webkit-transform: translate3d(0, 0, -2px);
}

.header-homepage.cp-video-bg,
.header.cp-video-bg {
  background-color: transparent !important;
  overflow: hidden;
}

#wp-custom-header.cp-video-bg #wp-custom-header-video {
  object-fit: cover;
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: opacity 0.4s cubic-bezier(0.44, 0.94, 0.25, 0.34);
}

#wp-custom-header.cp-video-bg button#wp-custom-header-video-button {
  display: none;
}

.header-content{
  position: absolute;
  top: 20%;
  left: 40%;
  color: white;
  

  & .header-button{
   display: flex;
   justify-content: flex-end;
   & > button{
      padding: 15px;
      font-weight: 300;
      margin-left: 10px;
   }
  }
}

.icons-boxes{
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  
  // width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // margin: 0px 10px;
  

  

  & .card{
    border: 1px solid black;
    // width: 200px;
    border: 1px solid rgb(155, 155, 155) !important;
    text-align: center;

    & img{
      margin-left: auto;
      margin-right: auto;
    }
   
   
   
  }

  & img{
    width: 131px;
    height: 139px;
  }
}