
// Variables
@import 'variables';
$color:  rgb(65, 166, 238);
//@import 'styles';
.playicon {
    font-size: 50px;
}
.card2{

    // width: $width ;
    // width: 100% ;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.5);
    min-height: 355px;

    transition: transform .2s;

    &:hover {

        transform: scale(1.03);
    }

    @media (max-width: 1000.98px) {

        margin-bottom:  50px   ;
    }

}



.cardtitle{
    font-weight: bolder;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
}

.cardtitle2{
    font-size: 15px;
    color: #000000;
}

.overlay {
    position: relative;
    height: 200px ;
    // width: $width  ;

    background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ) , url("https://c0.wallpaperflare.com/preview/27/313/180/man-singing-on-stage.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    transition: all 0.5s ease;
    display: flex;
    color: white ;
    font-size: 13px;

    font-weight: normal;
    line-height: 28px;


    & .one{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);

    }
    & .two{
        position: absolute;
        top: 8px;
        right: 16px;


    }
    & .three{
        position: absolute;
        bottom: 8px;
        left: 16px;

        & span {

            letter-spacing: 0.03em;
            // padding-left: 3px;

        }
    }
    & .four{
        position: absolute;
        bottom: 8px;
        right: 16px;
    }
}
.dropdownbtn > div{

    border-radius: 12px 12px;
    box-shadow: 0px -10px 80px rgba(0, 0, 0, 0.25);
}

.dropItems{

    height: 242px;
    width: 294px;

    position: relative;
    top: 26px;
    color: black;

    & .cross2{
        position: fixed;
        right:  10%;
        top: 5%;
        // width: 40px;
        border: none;

        color: black;
        &:hover{
            color: $color !important;
        }


    }
}



.dropItems >  .dropdown-item {
    display: block;
    line-height: 30px;
    /* identical to box height */


    letter-spacing: 0.06em;
    padding: 0.35rem 0rem !important;

    font-weight: 630;

    text-align: inherit;

    width: 80% !important;
    border-radius: 0px 20px 20px 0px !important;
    &  .items {
        position: relative;
        left: 20px;
        top: 10px;
        color: black;
        font-size: 15px;
        line-height: 24px;
        height: 40px;

    }


    &:hover{

        background: rgb(240, 241, 243) !important;
        color: black;

    }
}






// Bootstrap
@import '~bootstrap/scss/bootstrap';
