@import 'variables';
@import '~bootstrap-select/sass/variables';

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000 !important;
}

.home-nav {

    // min-height: 150px;

    // top: 0;

    & .links-home {

        padding: 0 40px;
        font-size: 12px;
        font-weight: 300;

        & li a {
            color: black !important;
            margin-right: 15px;
        }


    }

    & .logo {
        height: 4rem;
    }


}

// .header-wrapper{
//   width: 1349px;
//   height: 440px;
//   z-index: 1;

// }

.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;

    .video-foreground, iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}


.header-separator {
    height:150px;
    svg {
        fill: white;
        top:-4.5rem;
    }
}


.header-wrapper {
    width: auto;
}

.videoClass {
    width: 98%;
    height: 440px;
}


//iframe {
//    background: #000;
//    width: 98%;
//    height: 440px;
//    opacity: 0.5;
//    position: absolute;
//    top: 0;
//    left: 0;
//}


.header-content {
    text-align: center;
    color: white;
    padding-top: 5%;


    & .header-button {
        display: flex;
        justify-content: center;

        & > button {
            padding: 15px;
            font-weight: 300;
            margin-left: 10px;
        }
    }
}

.btnCustom1 {
    background: #03a9f4;
    color: white;
    padding: 18px 36px !important;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.btnCustom2 {
    background: #4caf50;
    color: white;
    padding: 18px 36px !important;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    font-weight: 400;
}

.iconBoxParent {
    margin-top: 50px;
    z-index:999;


    & .card {
        // width: 200px;
        border: 1px solid rgb(233, 217, 217);
        text-align: center;
        padding-top: 20px;

        & img {
            margin-left: auto;
            margin-right: auto;
        }


    }

    & img {
        width: 131px;
        height: 139px;
    }
}



//Directory

$theme-colors: (
    "primary": #2393ba,
    "danger": #ff4136
);

.btn-primary {
    //height: 44px;

    font-size: 14px !important;
    border-color: #0f7fa6 !important;

    border-radius: 0 !important;
}

a {
    text-decoration: none !important;
}

.btn-tags {
    background-color: #faf8f8;
    border: 2px solid #0f7fa6;
    border-radius: 0px;
    color: #0f7fa6;
    height: 34px;

    &:focus {
        background-color: #dfdada !important;
        border: 1px solid #0f7fa6 !important;
        border-radius: 0px !important;
        outline: none !important;
    }


}

input.text {
    min-width: 100px;
    border-radius: 0px;
    height: 44px;
    font-size: 16px;
    font-weight: lighter;
}

.bigContainer {
    margin: 0px 118px;
    color: gray;

    @media (max-width: 695.98px) {
        margin: 0% 5%;
    }
}

.Search-boxes {
    background-color: rgb(12, 102, 124);
    width: 100%;

    color: white;
    padding: 10px;
    font-size: 12px;

}

.InsideSearchbox-link {
    & > a {
        color: white;
        border-bottom: 1px dashed white;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.Category-Boxes {
    // border: 1px solid red;

    & > div {
        // border-bottom: solid rgb(18, 18, 160) 1px;
        margin: 20px 0px;

    }

    & a {
        color: rgb(71, 71, 71);
        font-size: 12px;

        &:hover {
            text-decoration: none;
        }
    }
}

.h-8 {
    background: #22a3e1;
    padding: 3px 6px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 2px;
}


.Custom-nav2 .nav-link {
    border: 1px solid #2293ba;
    @media (max-width: 695.98px) {
        display: none
    }

    & i {
        height: 22px;
    }


}

.active .icon {
    color: white;


}

.nav-pills .nav-link.active {
    background-color: #2393ba !important;
}

.search-icon, .location-icon {

    position: absolute;
    top: 8px;
    right: 0;
    color: #726d6d;
    height: 50% !important;
    min-width: 50px !important;
    font-size: 18px !important;
}

input.text {
    min-width: 100px;
}

.tab-pane {
    width: 100%;
    height: 100%;
}


.card-img-top {
    height: 300px;
}

span.checked {
    color: orange;
}

.custom-tooltip button {
    font-size: 22px;

    margin-left: 10px;
    padding-bottom: 12px;
}

.rating-circle {
    border-radius: 50%;
    background-color: rgb(41, 144, 240);
    color: white;
    padding: 5px;
    font-size: 12px;
}


// jOE

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    font-weight: 300;
    padding: 2px 16px;

    p {
        font-size: 14px;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.contactWidgets {
    // margin-right: 30px ;
    width: 200px;
    // border: 1px solid red;
    font-size: 14px;

    color: gray;

    & i.icon {
        color: #03a9f4;


    }

    & div div {
        min-width: 150px;
        // border: green 1px solid;
    }


}

.custom-progress {
    background: #000;
}

.tab-pane div.progress-bar {
    width: 20%;
    background-color: gray !important;
}

#circleProgress1 {
    width: 134px;
    height: 180px;
}

i.icon-blue {
    color: #03a9f4;
    font-size: 16px !important;
}

label {
    font-size: 15px;
    font-weight: 500;
}

.custom-progress {
    width: 60px;
}


.rating-star-field > div {
    margin: 0px 13px;
}

.borderBottomBold {
    background: gray;
    width: 100%;
    height: 3px;
}

.video-list {
    overflow-y: auto;
    max-height: 500px;
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
.watermark_logo {
    width:120px;
    bottom:40px;
}
#my-video_html5 video{
    width:100%!important;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select';
@import '~font-awesome/css/font-awesome.css';
@import '~jquery-ui/themes/base/all.css';
@import '~tag-it/css/jquery.tagit.css';
@import '~mediaelement/build/mediaelementplayer.min.css';
