.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}
.logo {
    font-weight:bold;
    display:inline;

}
.header{
    background: #fff !important;
}
.drawer .ant-drawer-body{
    padding:0;
}
